<div {{did-insert this.initMap}} id='map' class='map'></div>
<span {{on 'click' this.changeMap}} style='font-size: 2.5rem;' id='chevron-left'>{{fa-icon
    'chevron-left'
  }}</span>
<span {{on 'click' this.changeMap}} style='font-size: 2.5rem;' id='chevron-right'>{{fa-icon
    'chevron-right'
  }}</span>


<Footer />